<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker & Flask</title>
</head>
<body>
<h1>Hello World Form Docker & Flask</h1>
<h2>Database: {{ info }}</h2>
<img src="{{ url_for('static', filename='images/docker-flask-postgres.png') }}">
</body>
</html>